@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?49hu5s');
  src: url('../fonts/icomoon.eot?49hu5s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?49hu5s') format('truetype'),
    url('../fonts/icomoon.woff?49hu5s') format('woff'),
    url('../fonts/icomoon.svg?49hu5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.rc-tree-panel {}
.rc-tree {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px;

	[class^="icon-"], [class*="icon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.icon-home:before {
	    content: "\e900";
	}
	.icon-file:before {
	    content: "\e924";
	}
	.icon-folder:before {
	    content: "\e92f";
	}
	.icon-folder-open:before {
	    content: "\e930";
	}
	.icon-spinner:before {
	    content: "\e97a";
	}
	.icon-arrow:before {
	    content: "\ea1c";
	}
	.icon-checkbox-1:before {
	    content: "\ea52";
	}
	.icon-checkbox-0:before,
	.icon-checkbox-2:before {
	    content: "\ea53";
	}
	.icon-radio-1:before {
	    content: "\ea54";
	}
	.icon-radio-0:before {
	    content: "\ea56";
	}

	&.rc-tree-bordered {
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	.rc-tree-node {
		list-style: none;
		padding: 0;
		margin: 2px 0;
		white-space: nowrap;
		outline: 0;
		line-height: 24px;

		> i {
			margin-right: 2px;
	    margin-top: 2px;
	    width: 16px;
	    height: 16px;
	    display: block;
	    float: left;
	    vertical-align: middle;
	    border: 0 none;
	    cursor: pointer;
	    outline: none;
	    color: #444;

	    &.icon-arrow {
	    	width: 12px;
	    	height: 12px;
	    	padding: 2px;   
		    font-size: 12px;
			}
		}

		> a {
			display: block;
	    padding: 2px 0;
	    cursor: pointer;
	    font-size: 14px;
	    text-decoration: none;
	    line-height: 18px;
	    vertical-align: middle;
	    color: #333;
	    text-align: left;

	    &:hover {
	    	background: #f5f5f5;
	    }
		}

		> ul {
			display: none;
			padding-left: 18px;
		}

		&.rc-tree-node-selected > a {
			background: #e6e6e6;
		}

		&.rc-tree-node-expanded {
			> ul {
				display: block;
			}

			> i.icon-arrow {
				transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
			}
		}
	} 
}